.navbar.navbar-expand-lg.bg-danger{
background-color: rgb(150, 5, 5) !important;
}
i.fa-brands.fa-facebook.fa-3x:hover{
color:rgb(25, 6, 132)
}
i.fa-brands.fa-github.fa-3x:hover{
color:antiquewhite
}
i.fa-brands.fa-instagram.fa-3x:hover{
background: rgb(92,7,149);
background: -moz-linear-gradient(90deg, rgba(92,7,149,1) 7%, rgba(253,29,83,1) 52%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(92,7,149,1) 7%, rgba(253,29,83,1) 52%, rgba(252,176,69,1) 100%);
background: linear-gradient(90deg, rgba(92,7,149,1) 7%, rgba(253,29,83,1) 52%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c0795",endColorstr="#fcb045",GradientType=1);
}
i.fa-solid.fa-user.fa-3x:hover{
    color:antiquewhite
}
.list-group{
    --bs-list-group-bg: transparent; 
    --bs-list-group-border-color: transparent;
}